@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

header {
  background-image: url("../img/wall.png");
  background-size: contain;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Edu TAS Beginner", sans-serif;
}

p {
    font-family: "Sometype Mono", "monospace";
  }
  
  body {
    background-image: url("../img/cork.png");
    background-size: contain;
  }

  /* add animation rotate */
.rotate-zoom {
  transition: transform 0.5s ease-in-out;
}
.rotate-zoom:hover {
  z-index: 1;
  transform: rotate(20deg) scale(1.1);
}
/* remove pin when hover card */
.rotate-zoom:hover .rotation-none {
  opacity: 0;
  visibility: hidden;
}

  