@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

header {
  background-image: url("../img/wall.png");
  background-size: contain;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Edu TAS Beginner", sans-serif;
}
