@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

header {
  background-image: url("../img/wall.png");
  background-size: contain;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Edu TAS Beginner", sans-serif;
}

p {
    font-family: "Sometype Mono", "monospace";
  }
  
  body {
    background-image: url("../img/cork.png");
    background-size: contain;
  }

  /* add animation rotate */
.rotate-zoom {
  transition: transform 0.5s ease-in-out;
}
.rotate-zoom:hover {
  z-index: 1;
  transform: rotate(20deg) scale(1.1);
}
/* remove pin when hover card */
.rotate-zoom:hover .rotation-none {
  opacity: 0;
  visibility: hidden;
}

  /* ! modal  */
.opacity-container {
  /*todo prendo tutto lo schermo  */
  width: 100vw;
  height: 100vh;
  /* deve essere sopra le card che hanno z-1 */
  z-index: 2;
  /*! do un opacita' */
  background-color: rgba(0, 0, 0, 0.9);
}

#popUp {
  /* possibile in disply fixed */
  z-index: 3;
  width: 50%;
  max-width: 20vw;

  outline: 1px solid white;
  background-color: rgb(5, 5, 5);
  box-shadow: 0 0.5rem 5rem rgba(130, 99, 155, 0.9);
}


/* .rotation-none:hover{
opacity: 0;
    visibility: hidden;

} */
